.box-homepage {
  border-radius: var(--main-border-radius);
  -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color--card);
  color: var(--main-text-color);
  max-width: 800px !important;
  min-height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 680px) {
  .box-homepage {
    border-radius: 0px !important;
  }
}
