.box-currentCity {
  border-radius: var(--main-border-radius);
  box-shadow: none;
  color: var(--main-text-color);
  width: 85%;
  min-height: 300px;
}

.select {
  text-align: center;
  padding-top: 25px;
}
